name: Docker image building 
on:
    - push

jobs:
    build-and-push-image:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write

        steps:
            -
                uses: benjlevesque/short-sha@v3.0
                id: short-sha
            - 
                name: setup QEMU
                uses: docker/setup-qemu-action@v3
            -
                name: setup docker buildx
                uses: docker/setup-buildx-action@v3
            -
                name: login to docker hub
                uses: docker/login-action@v3
                with:
                    username: ${{github.actor}}
                    password: ${{secrets.GITHUB_TOKEN}}
                    registry: ghcr.io
            -
                name: build and push
                uses: docker/build-push-action@v6
                with:
                    push: true
                    platforms: linux/amd64, linux/arm64
                    tags: ${{github.repository}}:${{steps.short-sha.outputs.sha}}, ${{github.repository}}:latest
